h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15em;
    text-align: center;
    padding: 0em;
}

.container{
/* width: 100em;
height: 100em; */
}

.clockall{
height:80%;
width: 80%;
margin: 0 auto;
}

body {
  
    background: black;


}

.pause-btn{
    border-radius: 8px;
    width: 50%;
   

    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    margin: 0 auto;
    font-size: 16px;
}
.button-area{
    width: 100%;
    margin: 0 auto;
    float: center;
    text-align: center;
}